version: "3"

services:
  pcd-analyzer:
    build:
      context: ./
      dockerfile: ./system/Dockerfile
    command: ["python", "find_xyzabc.py"]
    container_name: pcd-analyzer
    volumes:
      - ./data:/pcd-analyzer/data
      - ./raw_data:/pcd-analyzer/raw_data
      - ./system/config.yml:/pcd-analyzer/system/config.yml
